<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Fynx Code | Topluluk | Bot Yardım | Kod Paylaşım">
    <meta name="keywords" content="kod, discord, bot, discord.js, copy, paste, copy paste, hazır kod, bot kodları">
    <meta name="copyright" content="Fynx Code">
    <meta name="author" content="Fynx Code">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://cdn.r10.net//image.php?u=60863" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/gerekli.css">
 
    
  </head>
  <body class="bg-dark text-white">  
    
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #363636;">
      <a class="navbar-brand" href="/"><img style="border-radius:50%" width="30" height="30" src="https://cdn.discordapp.com/icons/720975143366819932/4ac40aff951fafa5dfe237d0de6592b5.png?size=128">

        Fynx Code
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kodlar
            </a>
            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
              <a class="dropdown-item font-weight-bold" href="/normal" style="color: #fffff;"><i class="fas fa-code"></i> Normal Kodlar</a>
              <a class="dropdown-item font-weight-bold" href="/altin" style="color: #ffcc00;"><i class="fas fa-code"></i> Altın Kodlar</a>
              <a class="dropdown-item font-weight-bold" href="/elmas" style= "color: #00e6e6;"><i class="fas fa-code"></i> Elmas Kodlar</a>
              <a class="dropdown-item font-weight-bold" href="/hazir" style="color: #ff4d4d"><i class="fas fa-code"></i> Hazır Sistemler</a>
              <div class="dropdown-divider" style="border-top:1px solid #20262c"></div>
              <a class="dropdown-item font-weight-bold" href="/topluluk"><i class="fas fa-code"></i> Sizden gelenler</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/davet">Discord Sunucumuz</a>
          </li>
          
          
         <div class="ccc">
           <a class="nav-link" href="/paylas">Kod Ekle</a>
          </div>  
          
          
        </ul>
        {{#if user}}
        
          <div class="dropdown">
         <div class="utku">
           
               <a class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}} <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item profilim" href="/profil/{{user.id}}"><i class="fas fa-user"></i> Profilim</a>
              
              
              
              
              
              <a class="dropdown-item cikis-yap" href="/cikis"><i class="fas fa-sign-out-alt"></i> <script src="/renklicikis.js"></script></a>
            </div>
          </div>
</div>
        
        {{else}}
           <a type="button" class="giris-yap" href="/giris" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i> Giriş Yap</a>
        {{/if}}
      </div>
    </nav>
    
    
    {{{body}}}
    <br><br><br>
    
    <footer>
<div class="footeralt">
<footer class="footer mt-auto py-3">
<div class="container">
<center>
<a style="color: #0069d9;">WebSitemize Hoş Geldin! Kodları ve Altyapıları Görmek İçin Giriş Yapman Gerekli.</a>
<br>
</center></div>
</footer></div>
    </footer>
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
  </body>
</html>