<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<title>Fynx Code | Ana Sayfa</title>
<br><br>

<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar2">
		<img class="sunucusresmi" height="200" width="200" src="https://cdn.discordapp.com/icons/720975143366819932/4ac40aff951fafa5dfe237d0de6592b5.png?size=128">
</div><br>
  <div class="testo">
        <h1 class="text-light font-weight-light">Fynx Code</h1>
    <h2 class="text-light font-weight-light">
       Topluluk | Bot Yardım | Kod Paylaşım
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları Görebilmek İçin <a style="text-decoration:none"href="/davet" target="_blank">Discord Sunucumuza</a> Katılmanız Gerekmektedir
  </p>
  </div>

  <! <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" style="text-decoration:none" target="_blank">Kodlara Bakmadan Önce Kesinlikle Okuyunuz!</a>
  </p> 
<div class="index-box">
<a href="/normal" style="text-decoration:none" class="index-button1"><i class="fas fa-code"></i> Normal Kodlar</a>
<a href="/altin"  style="text-decoration:none" class="index-button2"><i class="fas fa-code"></i> Altın Kodlar</a>
<a href="/elmas" style="text-decoration:none" class="index-button3"><i class="fas fa-code"></i> Elmas Kodlar</a>
<a href="/hazir" style="text-decoration:none" class="index-button4"><i class="fas fa-code"></i> Hazır Sistemler</a>

</div>
  
  
  <div class="btn-group mt-4">
    <a href="https://top.gg/bot/713713727794446397" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fas fa-cog"></i> Pirate Botumuz</a>
    <a href="/davet" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i> Discord Sunucumuza Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="5"><b>SUNUCULARIMIZ</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/banners/666967704569380864/da7d902c1cb50f521d8ea79bb62e04bb.jpg?size=512" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/348055628146540545/735838395393376366/Baslksz-1.jpg" alt="Pirate#5067">
                      </div>
                      
                  FYNX      
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 6654
                      </div>
                      <p> </p>
                        <p class="card-text">Fynx Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                    </div>
                    <div class="card-footer">                    
                        <a href="https://discord.gg/HRC9Yyp" style="background-color: #0069d9;" class="btn btn-md btn-block text-white"><i class="fa fa-eye"></i> Sunucuya Git</a>                        
                    </div>
                  </div>
      </div> 
      
      
  
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/729424678858391552/743575002149814342/oc-minimal-gaming-background-25601600_2.jpg" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/741934874985758850/741935064236949615/uni.png" alt="Pirate#5067">
                      </div>
                      
                  Universal     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 1189
                      </div>
                      <p> </p>
                        <p class="card-text">Universal Güzel Ortamı Olan Public ve Oyun Sunucusu</p>
                    </div>
                    <div class="card-footer">                    
                        <a href="https://discord.gg/E4pYhnv" style="background-color: #0069d9;" class="btn btn-md btn-block text-white"><i class="fa fa-eye"></i> Sunucuya Git</a>                        
                    </div>
                  </div>
      </div> 
      
      
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/banners/666967704569380864/da7d902c1cb50f521d8ea79bb62e04bb.jpg?size=512" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/348055628146540545/735838395393376366/Baslksz-1.jpg" alt="Pirate#5067">
                      </div>
                      
                  YAKINDA     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-angle-up"></i> 000
                      </div>
                      <p> </p>
                        <p class="card-text">Fynx Her Gün Adım Adım Büyüyen Güzel Saygılı Bir Topluluk</p>
                    </div>
                    <div class="card-footer">                    
                        <a href="https://discord.gg/HRC9Yyp" style="background-color: #0069d9;" class="btn btn-md btn-block text-white"><i class="fa fa-eye"></i> Sunucuya Git</a>                        
                    </div>
                  </div>
      </div>       
      
      
      
      
  
    </div>
  
  
    </div12>  
    
  
    
</main>